<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a href="/success">Home</a>
        <a href="/logout">Logout</a>
    </div>
    <form action="/movies/movie/create" method="post">
        {% csrf_token %}
        <h3>Add a new book with a review</h3>
        Title: <input type="text" name="title">
        Rating: <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        Director: <input type="text" name="director">
        Review: <textarea name="review" cols="30" rows="10"></textarea>
        <button>Add</button>
    </form>
</body>
</html>