<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <div>
                <h3>Welcome {{ user.first_name }}</h3>
            </div>
            <div>
                <a href="/movies/movie/add">Add Movie</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div>
            <div class="col">
                <h1>Recent Book Reviews</h1>
                <h2>Make movie class + review in models then add them here, validate if empty always</h2>
            </div>
            <div class="col">
                <h1>Other Books with Reviews</h1>
                <div class="others">
                    <p>list of books with overflow-y and all as links</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>