* {
    margin: 0px;
    padding: 0px;
}

.container {
    border: 2px solid black;
    padding: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22em;
    margin: 0px auto;
    min-height: 350px;
}
.blend {
    transform: translateY(-70%);
    width: max-content;
    background-color: white;
    padding: 0 0.15em;
}

.form {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#comment {
    display: flex;
    justify-content: flex-start;
}

.input {
    display: flex;
    flex-direction: column;
}

.data {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em;
}

#text {
    border-top: 2px solid black;
}
